{% extends "base_page.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}

    <div class="main__about__text">
        This project was created as part of an introductory summer practice. <br>
        <span class="my__font">Author:</span> Ivan Kudinov <br>
        <span class="my__font">Head:</span> Sychev Alexander Vasilyevich <br>
        This site implements natural language processing. For the site to work, download the source file with the text
        or enter it in the appropriate form. After processing the text, you will be presented with a page with the source text,
        as well as a table with vectors. Each vector contains a lemma (the initial form of a word), the part of speech to
        which it relates, as well as the number of occurrences of this lemma in the text. Vectors are sorted by occurrence in
        the text.

    <br>

        <span class="main__about__contacts">If you have any questions , please contact us by email ivan.kudinov.2016@mail.ru</span>

    <br>

        <span class="main__about__after">Sincerely, Kudinov Ivan</span>
 </div>
{% endblock %}