<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="wrapper">

    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="" class="header__logo"><img src="/static/images/logo.svg" alt="Logo"></a>
                <a href="/" class="header__title">Natural Language Processing</a>
                <div class="header__inner">
                     <a href="about" class="header__about">About</a>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="ribbon"></div>
            <div class="input__form">
                <h1>Enter the text to be processed or upload a text file</h1>
                <form action="/result" method="post">

                        <div class="block__input">
                            <textarea class="form-textarea" placeholder="Input text"></textarea>
                        </div>
                        <div class="block__input">
                            <input class="form-input" type="file" placeholder="Input file.txt">
                        </div>

                    <button>Process text</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="copyright__wrapper">
                <div class="copyright">
                    © 2022 NLP by Ivan Kudinov
                </div>
                <div class="footer__link">
                    <a href="https://github.com/joolsoul" target="_blank" class="footer__logo"><img src="/static/images/github.svg" alt="Logo"></a>
                    <a href="https://e.mail.ru/compose/" target="_blank" class="footer__logo"><img src="/static/images/mail.svg" alt="Logo"></a>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>
</html>