{% extends "base_page.html" %}
{% block title %}
    Start page
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="ribbon"></div>
            <div class="input__form">
                <h1>Enter the text to be processed or upload a text file</h1>
                <form action="/result" method="POST" enctype="multipart/form-data">

                    <div class="block__input">
                        <textarea class="form-textarea" name="input_textarea" placeholder="Input text"></textarea>
                    </div>
                    <div class="block__input">
                        <input class="form-input" name="input_file" type="file" accept=".txt">
                    </div>

                    <button>Process text</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}